:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;

  .Calculator {
    margin: auto;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 4px;
    background: #535252;
    padding: 1rem;
  }
}
